/* Extra-small device max-width: 600px */

footer {
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: rgb(48, 52, 63);
  font-size: small;
}

/* small device */
@media screen and (min-width: 600px) {
}

/* Medium device */
@media screen and (min-width: 768px) {
}

/* Large device */
@media screen and (min-width: 992px) {
}

/* Extra-large device */
@media screen and (min-width: 1200px) {
  footer {
    margin-bottom: 40px;
    border-radius: 0 0 10px 10px;
  }
}
