/* Extra-small device max-width: 600px */
.menuIcon {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 15px;
  background-color: rgb(48, 52, 63);
  cursor: pointer;
}

.white-icon {
  padding: 10px;
  position: relative;
  top: -22px;
  right: 5px;
  line-height: 75%;
  font-size: 32px;
  color: rgb(48, 52, 63);
}

ul {
  height: 0px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: rgb(48, 52, 63);
  transition: height 0.25s ease-in-out;
}

.menuOpen {
  height: 120px;
  transition: height 0.25s ease-in-out;
}

li {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: 500;
}

a {
  padding: 10px;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(48, 52, 63);
  background-color: darkgrey;
}
.active-link {
  color: darkorange;
  text-decoration: underline;
}

.active-link:hover {
  color: darkorange;
  background-color: rgb(48, 52, 63);
  cursor: default;
}

/* small device */
@media screen and (min-width: 600px) {
  .menuIcon {
    display: none;
  }

  ul {
    height: 40px;
    flex-direction: row;
  }

  li {
    flex-direction: row;
  }
}

/* Medium device */
@media screen and (min-width: 768px) {
  .menuIcon {
    display: none;
  }

  ul {
    height: 40px;
    flex-direction: row;
  }

  li {
    flex-direction: row;
  }
}

/* Large device */
@media screen and (min-width: 992px) {
  .menuIcon {
    display: none;
  }

  ul {
    height: 40px;
    flex-direction: row;
  }

  li {
    flex-direction: row;
  }
}

/* Extra-large device */
@media screen and (min-width: 1200px) {
  .menuIcon {
    display: none;
  }

  ul {
    height: 40px;
    flex-direction: row;
  }

  li {
    flex-direction: row;
  }
}
