* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../assets/images/page-backgrounds/grey_wash_wall.webp");
  background-size: cover;
  background-color: #4f4f4f;
}
body {
  min-width: 370px;
}

/* Extra-small device max-width: 600px */

/* small device */
@media screen and (min-width: 600px) {
}

/* Medium device */
@media screen and (min-width: 768px) {
}

/* Large device */
@media screen and (min-width: 992px) {
}

/* Extra-large device */
@media screen and (min-width: 1200px) {
  html {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh + 25%);
  }

  body {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    max-width: 1200px;
    min-width: 1200px;
  }
}
