header {
  display: flex;
  padding: 10px;
  background-color: rgb(194, 200, 195);
}

.head-shot {
  width: 64px;
}

.content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.title {
  margin-bottom: 0;
  font-weight: 600;
  color: rgb(48, 52, 63);
}

.occupation,
.company {
  font-size: medium;
  font-weight: 300;
  color: rgba(48, 52, 63, 0.75);
}

/* Extra-small device max-width: 600px */

/* small device */
@media screen and (min-width: 600px) {
  header {
    min-width: 370px;
  }
}

/* Medium device */
@media screen and (min-width: 768px) {
}

/* Large device */
@media screen and (min-width: 992px) {
  .head-shot {
    width: 128px;
  }

  .content {
    justify-content: flex-end;
  }
}

/* Extra-large device */
@media screen and (min-width: 1200px) {
}
